html,
body,
#__nuxt {
  @apply w-full h-full scroll-smooth;
  overflow-x: hidden;
  font-family: Noto Sans, sans-serif;
}

:root {
  --swiper-navigation-color: #cdd3d1;
  --swiper-pagination-color: #cdd3d1;
}